
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&family=Mukta:wght@400;500&family=Poppins:ital,wght@0,100;1,600&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&family=Mukta&family=Poppins:ital,wght@0,100;1,600&family=Roboto&family=Roboto+Mono:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  border-bottom: 1px solid rgb(117, 109, 109);
  position:sticky;
  z-index: 9999999;
  .container{
    max-width: 1250px;
    height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 5px;
    .row{
      display: flex;
      justify-content: space-between;
      .col-left{
      
        .img{
          width: 100px;
          height: 43px;
          margin-left: -10px;
        }
      }
      .col-center{
        .menu{
          ul{
            list-style: none;
            li{
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 50px;
              position: relative;
              a{
                text-decoration: none;
                color: #0e1524;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: bold;
                display: block;
                transition: all 0.3s ease;
              }
              a:hover{
                color: #0a0091;
                text-decoration: underline;
              }
              .drop-down{
                display: none;
                position: absolute;
                z-index: 999999;
                .drop-item{
                  a{
                    text-decoration: none;
                    
                  }
                }
              }
              &:hover{
                ul{
                  display: block;
                  width: 650px;
                  z-index: 99999999;
                  li{
                  }
                }
              }
            }
          }
        }
      }
      .col-right{
        display: flex;
        .item-right{
          margin-right: 20px;
          a{
            display: inline-block;
            text-decoration: none;
            color: #0e1524;
            font-family: 'Roboto', sans-serif;
            margin-top: 17px;
            margin-left:5px
          }
        }
        .item-left{
          margin-right: 30px;
          position: relative;
          a{
            display: inline-block;
            text-decoration: none;
            color: #0e1524;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            margin-top: 17px;
            margin-left:5px
          }
        }
        .item-left::before{
          position: absolute;
          content: '';
          width: 2px;
          height: 12px;
          background-color: rgb(10, 10, 10);
          bottom: 14px;
          right: 23px;
        }
      }
    }
  }
}
.main{
  .container{
    max-width: 1250px;
    height: 100%;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(165, 151, 151);
    .img-main{
      border-bottom: 1px solid rgb(165, 151, 151);
      padding-bottom: 50px;
      img{
        width: 1249px;
        margin: auto;
        position: relative;
      }
      .text-1{
        position: absolute;
        left: 70px;
        font-size:2em;
        font-family: "svn-effrabold", sans-serif;
        font-weight: bold;
        top: 133px;
      }
      .text-2{
        position: absolute;
        left: 70px;
        font-size:2em;
        font-family: "svn-effrabold", sans-serif;
        font-weight: bold;
        top: 175px;
      }
      .text-3{
        position: absolute;
        left: 0;
        font-family: "svn-effrabold", sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(117, 109, 109);
        left: 70px;
        top:232px;
        text-decoration:underline;
      }
    }
    .content-center{
      display: flex;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid black;
      .col-left{
        flex:7;
        .content{
          width: 720px;
          height: 400px;
          object-fit: cover;
          position: relative;
          z-index: 1;
        }
        .text-item{
          position: absolute;
          left: 265px;
          z-index: 999;
          bottom: -758px;
          font-size: 1.6em;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          display: none;
        }
        &:hover{
          .text-item{
            //display: block;
          }
        .content:hover{
          opacity: 0.8;
          }
        }
      }
      .col-right{
        display: flex;
        flex:3;
        .box{
          height: 400px;
          border: 1px solid black;
          width: 495px;
          h3{
            background-color: #0a0091;
            border: 1px solid #fff;
            color: #fff;
            display: inline-block;
            width: 56%;
            padding: 18px 10px;
            line-height: 1;
            text-align: center;
            margin-left: 109px;
            font-family:"svn-effrabold", sans-serif;
            margin-bottom: 140px;
            margin-top: 47px;
          }
          p{
            text-align: center; 
            font-size: 15px;
            font-family: "svn-effraregular", Helvetica, Arial, sans-serif;
            margin: 0 auto;
          }
        }
      }
    }
    .content-bottom{
        width: 1249px;
        height: 600px;
        background-image: url(4.jpg);
        object-fit: cover;
        position: relative;
        margin-top: 50px;
        transition: all 0.8s ease;
        padding-bottom: 50px;
        position: relative;
        .text{
          width: 498px;
          text-align: center;
          margin: auto;
          margin-top: 50px;
          position: absolute;
          left: 220px; 
          top: 234px;
          display: none;
          transition: all 0.8s ease;
          p{
            text-decoration: underline;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 20px;
          }
        }
    }
    .content-bottom:hover{
      opacity: 0.8;
      .text{
        display: block;
      }
    }
    .content-bottom::before{
      content: '';
      background-color: rgb(109, 108, 108);
      width: 1249px;
      height: 1px;
      position: absolute;
      bottom: -29px;
    }
    .three-box{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      .left{
        background-image: url(7.jpg);
        width: 380px;
        height: 362px;
        display: flex;
        position: relative;
        h3{
          margin: auto;
          font-size: 2em;
          display: none;
          font-family: sans-serif;
        }
        span{
          position: absolute;
          left: 154px;
          top: 55%;
          font-size: 1em;
          font-family: sans-serif;
          display: none;
        }
      }
      .center{
        background-image: url(12.jpg);
        width: 380px;
        height: 362px;
        display: flex;
        position: relative;
        h3{
          margin: auto;
          font-size: 2em;
          display: none;
          font-family: sans-serif;
          color: #bbbbbb;
        }
        span{
          position: absolute;
          left: 154px;
          top: 55%;
          font-size: 1em;
          font-family: sans-serif;
          display: none;
          color: #bbbbbb;
        }
      }
      .right{
        background-image: url(11.jpg);
        width: 380px;
        height: 362px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        h3{
          margin: auto;
          display: none;
          font-size: 2em;
          color: #bbbbbb;
        }
        span{
          position: absolute;
          left: 154px;
          top: 55%;
          font-size: 1em;
          font-family: sans-serif;
          display: none;
          color: #bbbbbb;
        }
      }
      .right:hover{
        opacity: 0.9;
        h3{
          display: block;
          opacity: 1;
          font-family: sans-serif;
        }
        span{
          display: block;
          padding-bottom: 1px;
          border-bottom: 1px solid rgb(95, 93, 93);
        }
      }
      .left:hover{
        opacity: 0.9;
        h3{
          display: block;
          opacity: 1;
        }
        span{
          display: block;
          padding-bottom: 1px;
          border-bottom: 1px solid rgb(66, 65, 65);
        }
      }
      .center:hover{
        opacity: 0.9;
        h3{
          display: block;
          opacity: 1;
        }
        span{
          display: block;
          padding-bottom: 1px;
          border-bottom: 1px solid rgb(95, 93, 93);
        }
      }
    }
  }
}
.footer-container{
  width: 100%;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
  display: flex;
  padding-top: 20px;
  margin-top: 50px;
  .col-left{
    flex:7;
    h3{
      margin-bottom:10px;
      font-size: 1.1em;
      margin-left:30px;
      color: #0e1524;
    }
    .list{
      display: flex;
      .list-left{
        margin-left:30px;
        ul{
          list-style: none;
          li{
            a{
              text-decoration: none;
              color: #0e1524;
              font-size: 1.1em;
              margin-top: 1px;
              display: block;
              padding-bottom: 5px;
              transition: all 0.3s ease;
            }
            a:hover{
              color: #0a0091 ;
            }
          }
        }
      }
      .list-right{
        margin-left:120px;
        ul{
          list-style: none;
          li{
            a{
              text-decoration: none;
              color: #0e1524;
              font-size: 1.1em;
              margin-top: 1px;
              display: block;
              padding-bottom: 5px;
              transition: all 0.3s ease;
            }
            a:hover{
              color: #0a0091 ;
            }
          }
        }
      }
    }
  }
  .col-right{
    flex:3;
    border-left: 1px solid;
    padding-left: 10px;
    h3{
      font-size: 1.5em;
    }
    .from{
      margin-top:30px;
      .sub{
        font-size: 0.85em;
        font-style: italic;
        padding: 7px 65px 9px 19px;
        margin-top: 30px;
        background: transparent;
        height: 37px;
        color: #b2b2b2;
        border: none;
        border: 1px solid black;
      }
      .sub-mid{
        font-size: 0.85em;
        font-style: italic;
        height: 37px;
        color: #4b4a4a;
        width: 71px;
        border: none;
        border: 1px solid black;
      }
      .sub:focus{
        outline: none;
      }
    }
  }
}
.aside{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .aside-img{
    a{
      .xacnhan{
        width: 193px;
        height: 73px;
        //padding-top: 10px;
        margin-top: 30px;
      }
    }
  }
  p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
  }
}
